@import ./_vars
@import ./_mixins

*
    box-sizing: border-box
    margin: 0
    padding: 0
    outline: none

html 
    font-size: 62.5%;
    /* Reset para REMS - 62.5% = 10px de 16px */
    box-sizing: border-box
    scroll-behavior: smooth
    overflow-x: hidden

body 
    font-size: 1.6rem
    overflow-x: hidden

.container 
    width: 95%
    max-width: 135rem
    margin: 0 auto

img 
    max-width: 100%

h1 
    font-size: 3.4rem
    font-family: open sans
    font-weight: 900
    text-transform: uppercase
    margin: 0 0 1.5rem 0

h2 
    font-weight: bold
    font-family: raleway
    font-size: 3rem
    text-align: center
    margin: 0 0 2.5rem 0
    position: relative

    &::after
        content: ''
        background-image: url(/img/Bar.svg)
        position: absolute
        width: 8rem
        height: 1rem
        bottom: -1.5rem
        left: 50%
        transform: translateX(-50%)

h3 
    font-family: open sans
    font-size: 2rem
    text-transform: uppercase
    margin: 0

h4
    font-weight: bold
    font-size: 2.2rem
    margin-bottom: 2rem


p 
    font-size: 2rem
    font-family: open sans


.button 
    display: block
    color: black
    padding: 1rem 3rem
    border-radius: 1rem
    font-family: raleway
    text-decoration: none
    text-transform: uppercase
    text-align: center
    font-weight: bold
    font-size: 2rem
    transition: ease .4s
    border: solid .2rem #109E00

    &:hover 
        background-color: #109E00
        color: white

    
// Menu

.nav
    background: transparent
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 9
    transition: all 0.3s ease-out 0s
    padding: 2rem 0

    &.sticky 
        position: fixed
        background-color: #CBF3C9
        z-index: 99
        box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1)
        transition: all 0.3s linear
        padding: 0

    & .container 
        display: flex
        justify-content: space-between
        align-items: center
        padding: 1.5rem 0
        height: 100%

        & ul
            display: flex
            justify-content: center 
            position: absolute
            top: -280%
            left: 0
            width: 100%
            list-style: none
            transition: all .4s ease-out
            z-index: -10
        
            @include desktop()
                position: relative
                top: 0!important
                display: flex
                flex-direction: row
                z-index: 1
            
            & .active 
                top: 98%

                @include phone-m()
                    top: 100%

            & li
                text-align: center
                margin-right: 5rem

                &:last-of-type
                    margin-right: 0

                @include desktop()
                    text-align: center

                &:hover
                    cursor: pointer
                    
                    @include desktop()
                        text-align: center
                        cursor: pointer

                & a 
                    font-family: open sans
                    display: block
                    text-decoration: none
                    color: black
                    text-transform: uppercase
                    font-weight: bold
                    font-size: 1.5rem
                    transition: all 0.2s linear

                    &:hover
                        color: #039503

            & .nav-item.active > a
                color: #039503

.mobile-menu 
    width: 4rem
    margin: 0 20px
    cursor: pointer

    @include desktop()
        display: none
    

@include phone-m()
    .pedidos
        display: none;
    

/* Footer */

footer 
    background-color: #062006
    color: white
    text-align: center
    padding: 1rem
    margin-top: 8rem

.social-media 
    margin: 1rem 

    @include desktop()
        display: flex
        justify-content: center
        align-items: center
    
    & img 
        width: 3rem;
        margin: 1rem 1rem 1rem 2rem

    & p 
        font-weight: bold
        font-size: 1.8rem

.copy 
    font-size: 1.4rem
    font-weight: 300

